
<div class="container">
    <div class="row">
      <h1>Elegir especialista:</h1>
      <div class="container-esp" *ngFor="let especialista of especialistasFiltrados" (click)="elegirEspecialista(especialista)">
        <div class="center">
          <img class="img-esp" [src]="especialista.img1" />

          <div class="card-inner" style="margin-top: 20px; font-weight: 900;">
            <div class="header" >{{ especialista.nombre}}</div>
          </div>
        </div>
            <!-- <div class="card-inner">
              <div class="header">{{ especialista.nombre}}</div>
            </div>
            <img class="img-esp" [src]="especialista.img1" /> -->
      </div>
      <h2 *ngIf="especialistasFiltrados.length == 0">No hay especialistas para mostrar</h2>
    </div>
  </div>