
  <body>

   

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">¡Clinica! :)</h1>
  
          <h2 *ngIf="logedUser == true; else noLoged">
            Bienvenido {{mail}}
          </h2>
          <ng-template #noLoged>
            <h2   hidden>
              
            </h2>
          </ng-template>
         <!--   <p><a class="btn btn-primary btn-lg" href="#" role="button"   >Learn more &raquo;</a></p>-->
        </div>
      </div>
      <!--ESPECIALISTA-->
    <div *ngIf="authServise.usuarioIngresado.perfil=='especialista'">
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Mi Perfil</h2>
             <button (click)="miPerfil()" >ingresar</button>
            </div>
          <div class="col-md-4">
            <h2>Mis Turnos</h2>
            <button (click)="misTurnos('especialista')" >ingresar</button>
          </div>
          <div class="col-md-4">
            <h2>----</h2>
            <button  >ingresar</button>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
  </div>
  <!--paciente-->
  <div *ngIf="authServise.usuarioIngresado.perfil=='paciente'">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Mi Perfil</h2>
          <button (click)="miPerfil()" >ingresar</button>

          </div>
        <div class="col-md-4">
          <h2>Mis Turnos</h2>
           <button (click)="misTurnos('paciente')" >ingresar</button>
        </div>
        <div class="col-md-4">
          
          <h2>Sacar Turno</h2>
           <button (click)="sacarTurno()" >ingresar</button>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->
</div>


  <!--ADMIN-->
  <div *ngIf="authServise.usuarioIngresado.perfil=='admin'">
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Mi Perfil</h2>
          <button (click)="miPerfil()" >ingresar</button>

          </div>
        <div class="col-md-4">
          <h2>Turnos</h2>
           <button (click)="turnos()" >ingresar</button>
        </div>
        <div class="col-md-4">
          
          <h2>Sacar Turno</h2>
           <button (click)="sacarTurno()" >ingresar</button>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->
</div>
    </main>

    <footer class="container">
      <p>&copy; Lavo IV 2022-2022</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>