<table class="table table-hover"  borser="1" >
   <tr>
       <td>
            NOMBRE/APELLIDO
       </td>
       <td>
        MAIL
       </td>
       <td>
           ACEPTAR/RECHAZAR
       </td>
   </tr>
    <tr    *ngFor="let item of listaEspecialista"  >
         <td >
      {{item.nombre}}, {{item.apellido}}
         </td>
         <td >
            {{item.mail}}
               </td>
               <td >
                    <div *ngIf="item.permiso==false">
                        <button (click)="aceptar(item)" class="btn btn-primary" >ACEPTAR</button>
                    </div>
                    <div *ngIf="item.permiso==true">
                        <button  (click)="rechazar(item)" class="btn btn-danger">RECHAZAR</button>
                    </div>
                </td>
     </tr>
</table> 
 
 
